<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login page</h1>


<p> User 角色用户: forzp</p>
<p> Admin 角色用户: admin</p>

<p th:if="${loginError}" class="error">用户名密码错误</p>

<form th:action="@{/login}" method="post">
    <lable for="username">用户名</lable>
    <input type="text" id="username" name="username" autofocus="autofocus"/>
    <br/>
    <lable for="password">密码</lable>
    <input type="password" id="password" name="password" />
    <input type="submit" value="登录">
</form>
<p><a href="/index" th:href="@{/index}">返回首页</a> </p>
</body>
</html>